.section_wrapper{
    display:flex;
    flex-direction: column;
    padding:1rem;
}
.cardWrapper{
    margin-top:1rem;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.toggler{
    color:var(--primary-color);
}
.cardWrapper{
    display: inline-block;
}
.wrapper{
    display:flex;
    gap:2rem;
    flex-wrap: wrap;
}