*{
  box-sizing: border-box;
  color:var(--white-color);
}
:root{
  --primary-color:#34C94B;
  --black-color:#121212;
  --white-color:#FFFFFF;
}
.App{
  height:100vw;
  background-color: var(--black-color);
  display:flex;
  flex-direction: column;
}